@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans&family=Klee+One&display=swap');

*{
    font-family: 'Klee One';

}
body{
    background-color:#4B4B4B ;
}

/************************************************************************
TAKEN FROM MY PROJECT 1 https://github.com/Tropicalbunny/MyRepo/tree/main
*************************************************************************/
/* nav back false back for positioning */
#nav-back {
    background-color:#8422D0 ;
    border: 0px;
    width: 100%;
    height: 150px;
}
.small-screen{
    color: #FFFFFF;
}
/* container for logo manipulation */
#logo-container {
    height: 100px;
    margin:auto;
    position: relative;
}

#logo {
    height: inherit;
    background: url("/static/images/Logo.png") no-repeat center center;
    background-size: contain;
}

/*container to hold nav links */
#menu-container {
    margin: auto;
    font-size: 120%;
}

/* spacing off central text */
.navspacing {
    padding: 0 150px;
}
/*resonsive design for what sheet is currently active */
.activesheet {
    font-weight: 700;
    font-size: 120%;
}
.nav-size{
    width: 100px;
}

/* styiling for main form structure */
#form-outer {
    width: 100%;
    text-align: center;
}

#form {
    width: 500px;
    text-align: center;
    background-color: #8422D0c7;
    padding: 20px;
    margin: 150px auto;
    border-radius: 30px;
    font-size: 125%;
}

/* Form image background styles */
#form-section-outer {
    height: 1000px;
    Width: 100%;
    position: relative;

}

#form-background {
    height: inherit;
    width: 100%;
    overflow: hidden;
}

/* END OF PROJECT 1 */
/* home screen styles */
#main-title{
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
}
#title-text-container{
    margin: auto;
    text-align: center;
    width: 100%;
}
#title-text{
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: xx-large;
    width: 400px;
}
.home-button{
    text-align: center;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    margin: 5px;
    background-color: #8422D0;
    border: none;
    outline: none;
}
.home-button:hover{
    background-color: #d0229f;
}
.update-button{
    text-align: center;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background-color: #8422D0;
    border: none;
    outline: none;
}
.update-button:hover{
    background-color: #d0229f;
}
#home-buttons{
    text-align: center;
    margin: auto;
    margin-top:40px ;
    width: 100%;
    height:200px
}
/* game board top styling */
.gametopbox {
    width:200px;
    height:inherit;
}
.gametop{
    width: 100%;
    height:50px;
    display:flex;
    justify-content: center;
}
/* start button */
.buttongame{
    border-radius: 100%;
    height:30px;
    width:30px;
    background-color: #D9D9D9;
    border-style: none;
    margin:1px;
    padding:3px;
}
.buttongame:hover{
    background-color:#8422D0 ;
}
/*info button  */
#infohome {
    list-style-type: none;
    color: #FFFFFF;
    text-align: Right;
    display: flex;
    justify-content: right;
    padding: 5px;
}
#title-box-outer {
    width:200px;
    display: flex;
    justify-content: left;

}

#title-box{
    width: 100px;
    color: #D9D9D9;
}
/* hangman image */
#hangman-image-outer {
    width:410px ;
    height: 410px ;
    margin: auto;
    margin-top: 50px;
}
#hangman-image-inner{
    width:400px;
    height:400px;
    margin: auto;
}
/*hangman guess board */
#word-guess{
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height:50px;
    color:#FFFFFF;
    font-size: xx-large;
    text-align: center;
}

/* buttons for the letters to guess */
#letter-guesses{
    margin: auto;
    margin-top: 30px;
    width:400px;
    height:150px;
    font-size: x-large;
    text-align: center;
}
.guess-button{
    width: 35px;
    height: 35px;
    margin:5px;
    background-color:#8422D0 ;
    border-radius: 5px;
    font-size: large;
    border: none;
    outline: none;
}
.guess-button:hover{
    background-color: #d0229f;
}
/* styling for info popup */
#info{
    background-color: #1E1E1E;
    position: relative;
    left: 50%;
    transform:translate(-50%);
    text-align: center;
    width: 600px;
    height:500px;
    padding:20px;
    border-radius: 15px;
    display: flex;
}
#info-close{
    font-size: 30px;
    float: right;
}
#info-close:hover{
    color:#8422D0;
}
#info-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 1;
    color: antiquewhite;
}
#info-text{
    width:600px;
    height:400px;
    font-size: xx-large;
    color: antiquewhite;
}
.after-text{
    color: #FFFFFF;
    font-size: larger;
}
/* container to sit the buttons and word inline*/
.word-holder{
    height: 50px;
    width: 100%;
    margin: 5px;
    display: flex;
}
.word-button-box{
    text-align: right;
    padding: 5px;
}
.word-box{
    width: 33%;
    display: flex;
}
.add-word{
    width: 110px;
    border-radius: 5px;
}
.add-library-input{
    width:200px;
    column-rule-color: #1E1E1E;
    border-radius:5px ;
}
/* view library styles */
.view-box{
    width:250px;
    height:50px;
    padding: 5px;
    margin: 20px;
    background-color: #8422D0;
    color: #D9D9D9;
    display: flex;
    border-radius: 5px;

}
.view-inner-button{
    width:30%;

}
.view-button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #4B4B4B;

}
.view-button:hover{
    background-color: #d0229f;
}
.view-inner{
    width:70%;
    text-align: center center;
    font-weight: bolder;
}
.view-outer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.view-canvas{
    width: 900px;
    height: inherit;
    display: flex;
}

/* accordion styles*/
.accordion-spacing{
    margin: 5px;
}
.accordion{
    --bs-accordion-btn-bg: #8422D0 ;
    --bs-accordion-active-bg: #8422D0c7;
    --bs-accordion-bg: rgba(39, 39, 39, 0.699);
    --bs-accordion-color: white;
    --bs-accordion-border-radius:0px;
    --bs-accordion-border-width:0px;
}
.accordion-container{
    margin: auto;
}
/* styiling for main form structure */
#form-outer {
    width: 100%;
    text-align: center;
}
#add-library-for-outer{
    width: 350px;
    text-align: center;
}
#add-library-form {
    width: 350px;
    background-color: #8422D0c7;
    padding: 20px;
    margin: 10px auto;
    border-radius: 30px;
    font-size: 100%;
    display: flex;
}
#add-library-submit{
    text-align: center;
}
#add-library-sections{
    width: 49%;
}


@media screen and (max-width: 768px) {

    /* reduces spacing in nav bar for smaller screens */
    .navspacing {
        padding-left: 10px;
        padding-right: 10px;
    }
    .word-box{
        width: auto;
    }
    .phone-shrink{
        width:150px
    }
    #info-text{
        width:300px;
        height:200px;
        font-size: large;
    }
}
@media screen and (max-width: 495px) {
    /* navbar tweaks to sit better on smaller devices */
    .navspacing {
        padding: 0;
        }
    .container{
        padding: 1px;
    }
    .update-button{
        width: 60px;
        height: 40px;
    }
    /* shrinks text for small screens */
    .small-screen {
        font-size: 80%;
    }
}