@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans&family=Klee+One&display=swap');

*{
    font-family: 'Klee One';

}
body{
    background-color:#4B4B4B ;
}

/************************************************************************
TAKEN FROM MY PROJECT 1 https://github.com/Tropicalbunny/MyRepo/tree/main
*************************************************************************/
/* nav back false back for positioning */
#nav-back {
    background-color:#8422D0 ;
    border: 0px;
    width: 100%;
    height: 150px;
}

/* container for logo manipulation */
#logo-container {
    height: 100px;
    margin:auto;
    position: relative;
}

#logo {
    height: inherit;
    background: url("/static/images/Logo.png") no-repeat center center;
    background-size: contain;
}

/*container to hold nav links */
#menu-container {
    margin: auto;
    font-size: 120%;
}

/* spacing off central text */
.navspacing {
    padding: 0 150px;
}
/*resonsive design for what sheet is currently active */
.activesheet {
    font-weight: 700;
    font-size: 120%;
}
.nav-size{
    width: 100px;
}

/* styiling for main form structure */
#form-outer {
    width: 100%;
    text-align: center;
}

#form {
    width: 500px;
    text-align: center;
    background-color: #8422D0c7;
    padding: 20px;
    margin: 150px auto;
    border-radius: 30px;
    font-size: 125%;
}

/* Form image background styles */
#form-image-outer {
    height: 1000px;
    Width: 100%;
    position: relative;

}

#form-background {
    height: inherit;
    width: 100%;
    overflow: hidden;
}

/* END OF PROJECT 1 */
/* home screen styles */
#title{
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
}
#title-text-container{
    margin: auto;
    text-align: center;
    width: 100%;
}
#title-text{
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: xx-large;
    width: 400px;
}
.home-button{
    text-align: center;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}
.home-button:hover{
    background-color: #8422D0;
}
#home-buttons{
    text-align: center;
    margin: auto;
    margin-top:100px ;
    width: 100%;
    height:200px
}
/* game board top styling */
.gametopbox {
    width:200px;
    height:inherit;
}
.gametop{
    width: 100%;
    height:50px;
    display:flex;
    justify-content: center;
}
/* start button */
.buttongame{
    border-radius: 100%;
    height:30px;
    width:30px;
    background-color: #D9D9D9;
    border-style: none;
    margin:1px;
    padding:3px;
}
.buttongame:hover{
    background-color:#8422D0 ;
}
/*info button  */
#infohome {
    list-style-type: none;
    color: #FFFFFF;
    text-align: Right;
    display: flex;
    justify-content: right;
    padding: 5px;
}
#title-box-outer {
    width:200px;
    display: flex;
    justify-content: left;

}

#title-box{
    width: 100px;
    color: #D9D9D9;
}
/* hangman image */
#hangman-image-outer {
    width:410px ;
    height: 410px ;

    margin: auto;
    margin-top: 50px;
}
#hangman-image-inner{
    width:400px;
    height:400px;
    margin: auto;
}
/*hangman guess board */
#word-guess{
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height:50px;
    color:#FFFFFF;
    font-size: xx-large;
    text-align: center;
}

/* buttons for the letters to guess */
#letter-guesses{
    margin: auto;
    margin-top: 30px;
    width:400px;
    height:150px;
    font-size: xx-large;
    text-align: center;
}
.guess-button{
    width: 25px;
    height: 25px;

}
.guess-button:hover{
    background-color:#8422D0 ;
}
/* styling for info popup */
#info{
    background-color: #1E1E1E;
    position: relative;
    left: 50%;
    transform:translate(-50%);
    text-align: center;
    width: 600px;
    height:500px;
    padding:20px;
    border-radius: 15px;
    display: flex;
}
#info-close{
    font-size: 30px;
    float: right;
}
#info-close:hover{
    color:#8422D0;
}
#info-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 1;
    color: antiquewhite;
}
#info-text{
    width:600px;
    height:400px;
    font-size: xx-large;
    color: antiquewhite;
}