{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js', _external=True, _scheme='https') }}"></script>
<title>Gameboard</title>
{% endblock %}

{% block body %}
<!-- header for the hangman game -->
<section class="gametop">
    <div class="gametopbox" id="title-box-outer"><h1 id="title-box">Hangman</h1></div>
    <div class="gametopbox">
        <ul id="infohome">
            <li><button class="buttongame" id="info-open"><i class="fa-solid fa-question"  style="color: #000000;"></i></button></li>
            <li><a href="/"><button class="buttongame" id="home"><i class="fa-solid fa-house" style="color: #000000;"></i></button></a></li>
        </ul>
    </div>
</section>
<!-- board for the hangman images-->
<section>
    <div id="hangman-image-outer">
        <img id="hangman-image-inner" src="/static/images/hang1.png">
    </div>
    <div id="word-guess"><p id="displayedLetters"></p></div>
    <div id="letter-guesses">
        <!-- Updated code from Stackoverflow, user furas-->
        <form>            
            {% for char in "abcdefghijklmnopqrstuvwxyz" %}
                <button onclick="event.preventDefault(); sendValue(this.value)" class="guess-button" id="{{ char }}" value ="{{ char }}">{{ char | upper }}</button>
            {% endfor %}    
        </form>
    </div>
</section>
<!--pop ups-->
<section>
    <div id="info-container">
        <div id="info">
            <div id="info-text"><p>Hangman is a very simple game, guess the word. the word is displayed in blank letter which you must guess using the letters below.</p>
                <p>Once a letter has been guessed it is removed from the guessing buttons, you have 7 lifes. you lose if you get to 0 and the hangman is fully made</p>
            </div>
            <div id="info-close">&times;</div>
        </div>
    </div>
</section>
{% endblock %}