{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<section class="gametop">
    <div class="gametopbox" id="title-box-outer"><h1 id="title-box">Hangman</h1></div>
    <div class="gametopbox">
        <ul id="infohome">
            <li><button class="buttongame" id="info-open"><i class="fa-solid fa-question"  style="color: #000000;"></i></button></li>
            <li><button class="buttongame" id="home" onclick="transitionToPage('index.html')"><i class="fa-solid fa-house" style="color: #000000;"></i></button></li>
        </ul>
    </div>
</section>
<!-- board for the hangman images-->
<section>
    <div id="hangman-image-outer">
        <div id="hangman-image-inner"></div>
    </div>
    <div id="word-guess"></div>
    <div id="letter-guesses"><p>A B C D E F G H I J K M N L O P Q R S T U V W Y X</p></div>
</section>
{% endblock %}