{% extends 'base.html' %}

{% block head %}
<script>
    function sendValue(buttonValue) {
        fetch('/button', {
            method: 'POST',
            body: JSON.stringify({value: buttonValue}),
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => console.log(data));
    }
    function updateImage() {
        fetch('/update-image')
        .then(response => response.json())
        .then(data => {
            document.getElementById('hangman-image-inner').src = data.new_image_src;
        });
    }
    </script>
{% endblock %}

{% block body %}
<section class="gametop">
    <div class="gametopbox" id="title-box-outer"><h1 id="title-box">Hangman</h1></div>
    <div class="gametopbox">
        <ul id="infohome">
            <li><button class="buttongame" id="info-open"><i class="fa-solid fa-question"  style="color: #000000;"></i></button></li>
            <li><button class="buttongame" id="home" onclick="transitionToPage('index.html')"><i class="fa-solid fa-house" style="color: #000000;"></i></button></li>
        </ul>
    </div>
</section>
<!-- board for the hangman images-->
<section>
    <div id="hangman-image-outer">
        <img id="hangman-image-inner" src="">
    </div>
    <div id="word-guess"><p>{{ displayedLetters }}</p></div>
    <div id="letter-guesses">
        <form>
        <button onclick="sendValue(this.value), updateImage()" value ="a">A</button>
        <button onclick="sendValue(this.value)" value ="b">B</button>
        <button onclick="sendValue(this.value)" value ="c">C</button>
        <button onclick="sendValue(this.value)" value ="d">D</button>
        <button onclick="sendValue(this.value)" value ="e">E</button>
        <button onclick="sendValue(this.value)" value ="f">F</button>
        <button onclick="sendValue(this.value)" value ="g">G</button>
        <button onclick="sendValue(this.value)" value ="h">H</button>
        <button onclick="sendValue(this.value)" value ="i">I</button>
        <button onclick="sendValue(this.value)" value ="j">J</button>
        <button onclick="sendValue(this.value)" value ="k">k</button>
        <button onclick="sendValue(this.value)" value ="l">L</button>
        <button onclick="sendValue(this.value)" value ="m">M</button>
        <button onclick="sendValue(this.value)" value ="n">N</button>
        <button onclick="sendValue(this.value)" value ="o">O</button>
        <button onclick="sendValue(this.value)" value ="p">P</button>
        <button onclick="sendValue(this.value)" value ="q">Q</button>
        <button onclick="sendValue(this.value)" value ="r">R</button>
        <button onclick="sendValue(this.value)" value ="s">S</button>
        <button onclick="sendValue(this.value)" value ="t">T</button>
        <button onclick="sendValue(this.value)" value ="u">U</button>
        <button onclick="sendValue(this.value)" value ="v">V</button>
        <button onclick="sendValue(this.value)" value ="w">W</button>
        <button onclick="sendValue(this.value)" value ="x">X</button>
        <button onclick="sendValue(this.value)" value ="y">Y</button>
        <button onclick="sendValue(this.value)" value ="z">Z</button>

        </form>
    </div>
</section>
{% endblock %}