{% extends 'base.html' %}

{% block head %}
<title>Homepage</title>
{% endblock %}

{% block body %}
<!-- information screen-->
<section>
    <div id="title-text-container">
        <p id="title-text">
            Hangman is a knowledge based game, 
            how many words do you know in the english dictionary? 
            Can you guess them before you..."Hang the man"
        </p>
    </div>
    <div id="home-buttons">
        <form action="/viewlib" method="POST" ><button class="home-button">Pick Library</button></form>
        <form action="/login" method="POST" ><button class="home-button">Sign in</button></form>
    </div>
</section>

{% endblock %}