{% extends 'base.html' %}

{% block head %}
<title>Homepage</title>
{% endblock %}

{% block body %}
<!-- information screen-->
<section>
    <div id="title-text-container">
        <p id="title-text">
            Hangman is a knowledge based game, 
            how many words do you know in the english dictionary? 
            Can you guess them before you...Hang the man"
        </p>
    </div>
    <div id="home-buttons">
        <a href="{{url_for('viewlib')}}"><button class="home-button">Pick Library</button></a>
        <a class="nav-link link-hover" href="{{url_for('login')}}"><button class="home-button">Sign in</button></a>
    </div>
</section>

{% endblock %}