{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="location-title">
</div>
<section id="form-image-outer">
    <div id="form-background">
        <div id="form">
            <h2>Your Details</h2>
            <form method="POST">
                <label for="Username" class="form-label"><strong>Username:</strong></label>
                <input name="username" id="Username" class="form-control" type="text" minlength="4" maxlength="15"
                    pattern="^[a-zA-Z0-9]{4,15}$" placeholder="Username" required>
                <br>
                <label for="password1"><strong>Password:</strong></label>
                <br>
                <input name="password1" id="password1" placeholder="Password" class="form-control" minlength="4" maxlength="15"
                pattern="^[a-zA-Z0-9]{4,15}$" required>
                <br>
                <p Class="center-align">
                    First time?  <a href="{{url_for('signup')}}" class="purple-text text-darken-4">sign up here!</a>
                </p>
                <button type="submit" class="btn btn-dark">Login!</button>
            </form>
        </div>
</section>
{% endblock %}