{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<section>
    <h1 id="title">You Guessed the word!!</h1>
    <div id="title-text-container"><p id="title-text">Congratulations, you know your words</p></div>
    <div id="home-buttons">
        <button class="home-button">Another game with this library?</button>
        <button class="home-button">pick another library?</button>
    </div>
    <div id="information-button"></div>
    <div id="dadtabase-update"></div>
</section>
{% endblock %}