{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<h1 id="main-title">{{ username }}'s Profile</h1>
<div id="title-text-container">
    <p id="title-text">
        Welcome back! if you select "Your Libraries" below, you can add and edit your own libraries that you or others can play.
        Alternatively, Click "View all Libraries" to find and select a Library to play
    </p>
</div>

<section>
        <div id="home-buttons">
            <form action="{{ url_for('userlibrary', username=session['user']) }}" method="get">
                <button type="submit" class="home-button">Your Libraries</button>
            </form>
            <form action="/viewlib" method="POST" ><button class="home-button">View all Libraries</button></form>
        </div>
</section>
{% endblock %}