{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<h1 id="main-title">{{ username }}'s Profile</h1>
<div id="title-text-container"><p id="title-text">Hangman is a knowledge based game, how many words do you know in the english dictionary? Can you guess them before you..."hang the man"</p></div>

<section>
        <div id="home-buttons">
            <form action="{{ url_for('userlibrary', username=session['user']) }}" method="get">
                <button type="submit" class="home-button">Your Libraries</button>
            </form>
            <form action="/viewlib" method="POST" ><button class="home-button">View all Libraries</button></form>
        </div>
</section>
{% endblock %}