{% extends 'base.html' %}

{% block head %}
<title>userlibrary</title>
{% endblock %}

{% block body %}
<div class="col-lg-9 accordion-container">
    {% for title, words in words.items() %}
    <div class="accordion accordion-spacing">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ loop.index }}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" 
              data-bs-target="#{{ title }}" aria-expanded="true" aria-controls="collapseOne">
          {{ title }}
          </button>
        </h2>
        <div id="{{ title }}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#{{ title }}">
          <div class="accordion-body ">
              Words in Library: <br>
              {% for word in words %}
              <div class="word-holder">
              <div class="word-box phone-shrink"> 
                <li>{{ word }}</li> 
              </div>
                <div class="word-box">
                  <!-- editing from database-->
                  <form action="/editword" method="POST">
                    <input type="hidden" name="title" id="title" value="{{ title }}">
                    <input type="hidden" name="word" id="word" value="{{ word }}">
                    <input name="word2" id="word2" class="update-word" type="text" minlength="4" maxlength="15"
                          pattern="^[a-zA-Z]{4,15}$" placeholder="Upated word" required>
                          <button type="submit" class="update-button">Update</button>
                  </form>
                </div>
                <!-- deleting from database-->
                <div class="word-box">
                  <form action="/delword" method="POST">
                    <input type="hidden" name="title" id="title" value="{{ title }}">
                    <input type="hidden" name="word" id="word" value="{{ word }}">
                    <button type="submit" class="update-button">Delete</button>
                  </form>
                </div>

              </div>
              {% endfor %}

              <hr>
              <!--add word to library-->
            <div class="word-holder">
              <div class="word-holder-inner">
                <form  action="/addword" method="POST">
                  <div class="add-word-box">
                    <input type="hidden" name="title" id="title" value="{{ title }}">
                    <input name="word" id="word" class="add-word" type="text" minlength="4" maxlength="15"
                          pattern="^[a-zA-Z]{4,15}$" placeholder="Add word" required>
                  </div>
                  <div class="word-button-box">
                          <input type="submit" class="add-word-button" value="add word">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
<!-- add new libraries-->
  <div class="accordion accordion-spacing">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Add New Library
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body text-center">
            <form action="/addtitle" method="POST" >
                <div class="add-library-sections">
                  <label for="title">Add a new title:</label>
                  <br>
                  <input  name="title" id="title" class="add-library-input" placeholder="add title" type="text" minlength="4" maxlength="15"
                  pattern="^[a-zA-Z-_]{4,15}$" required>
                </div>
                <div class="add-library-sections">
                  <label for="word">Add your first word:</label>
                  <br>
                  <input name="word" id="word" class="add-library-input" type="text" minlength="4" maxlength="15"
                        pattern="^[a-zA-Z]{4,15}$" placeholder="Add word" required>
                  <br>
                  <button type="submit" class="home-button">Add new Library</button>
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
