{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% for title, words in words.items() %}
<div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ loop.index }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ title }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
        <div class="accordion-body">
            Words in Library: <br>
            {% for word in words %}
            <div class="word-holder">
             <div class="word-box"> <li>{{ word }}</li> </div>
              <div class="word-button-box word-box">
                <button>edit</button>
                <form action="/delword" method="POST">
                  <input type="hidden" name="title" id="title" value="{{ title }}">
                  <input type="hidden" name="word" id="word" value="{{ word }}">
                  <button type="submit">delete</button>
                </form>
              </div>
            </div>
            {% endfor %}
            <hr>
              <form class="word-holder" action="/addword" method="POST">
                <div class="word-box">
                  <input type="hidden" name="title" id="title" value="{{ title }}">
                  <input name="word" id="word" class="form-control" type="text" minlength="4" maxlength="15"
                        pattern="^[a-zA-Z]{4,15}$" placeholder="Add word" style="width: 30%;" required>
                </div>
                <div class="word-button-box word-box">
                        <input type="submit" value="add word">
                </div>
              </form>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}